<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header <%= mode == 'delete' ? 'bg-danger' : 'bg-primary'%>" style="margin-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">
                    <%
                    if (mode == 'add') print('Add');
                    if (mode == 'edit') print('Edit');
                    if (mode == 'delete') print('Delete');
                    %> Preset</div>
            </div>
            <div class="modal-body">
                <div id="itemAlertBox" class="alert alert-danger alert-dismissable fade in out">
                    <a href="#" id="itemAlertBoxClose" class="close" aria-label="close">&times;</a>
                    <span id="itemAlertMessage"></span>
                </div>
                <div>
                    <table class="col-md-12" cellpadding="10px">
                        <tr>
                            <td>Station Name</td>
                            <td><input id="item-radioName" type="text" class="form-control" value="<%= _.escape(model.attributes.name) %>"></td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td><input id="item-radioURL" type="text" class="form-control" value="<%= _.escape(model.attributes.url) %>"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="savePreset">
                    Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
