<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header <%= mode == 'delete' ? 'bg-danger' : 'bg-primary'%>" style="margin-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title">
                    <%
                        if (mode == 'add') print('Add');
                        if (mode == 'edit') print('Edit');
                        if (mode == 'delete') print('Delete');
                    %> Radio Station</div>
            </div>
            <div class="modal-body">
                <div id="itemAlertBox" class="alert alert-danger alert-dismissable fade in out">
                    <a href="#" id="itemAlertBoxClose" class="close" aria-label="close">&times;</a>
                    <span id="itemAlertMessage"></span>
                </div>
                <div>
                    <table class="col-md-12" cellpadding="10px">
                        <tr>
                            <td>Station Name</td>
                            <td><input id="item-radioName" type="text" class="form-control" value="<%= _.escape(model.attributes.radioName) %>"></td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td><input id="item-radioURL" type="text" class="form-control" value="<%= _.escape(model.attributes.radioURL) %>"></td>
                        </tr>
                        <tr>
                            <td>Genre</td>
                            <td><input id="item-myGenre" type="text" class="form-control" value="<%= _.escape(model.attributes.myGenre) %>"></td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td><input id="item-myCountry" type="text" class="form-control" value="<%= _.escape(model.attributes.myCountry) %>"></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input id="item-myCity" type="text" class="form-control" value="<%= _.escape(model.attributes.myCity) %>"></td>
                        </tr>
                        <tr>
                            <td>Format</td>
                            <td><input id="item-radioFormat" type="text" class="form-control" value="<%= _.escape(model.attributes.radioFormat) %>"></td>
                        </tr>
                        <tr>
                            <td>Bitrate</td>
                            <td><input id="item-myBitrate" type="text" class="form-control" value="<%= _.escape(model.attributes.myBitrate) %>"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn <%= mode == 'delete' ? 'btn-danger' : 'btn-primary' %>" id="<%= mode == 'delete' ? 'delete' : 'save' %>">
                    <%= mode == 'delete' ? 'Delete' : 'Save' %>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
