<div>
    <%= state.totalRecords %> record(s), Page <input type="text" id="pageNumber" size="4" value="<%= state.currentPage + 1 %>"> of <%= state.totalPages %>
    <button class="btn btn-sm" id="prev">Prev</button>
    <button class="btn btn-sm" id="next">Next</button>
</div>