<div class="container" style="margin-top: 20px">
    <div id="testerAlertBox" class="row alert alert-dismissable fade in out">
        <a href="#" id="testerAlertBoxClose" class="close" aria-label="close">&times;</a>
        <span id="testerAlertMessage"></span>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Tester Status</div>
        <div class="panel-body">
            <div id="test-status-msg">Test in progress. <span id="statu-percent"></span>% completed.</div>
            <div>Total: <span id="status-total"></span>, Online: <span id="status-online"></span>, Offline: <span id="status-offline"></span></div>
            <div class="progress">
                <div id="online-percent" class="progress-bar progress-bar-success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
                <div id="offline-percent" class="progress-bar progress-bar-danger" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div>
                <button class="btn" id="pauseTest">Pause/Resume Test</button>
                <button class="btn" id="stopTest">Stop Test</button>
                <button class="btn" id="startTest">Start Test</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Configuration</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Auto Disable if Offline Count reaches</label>
                    <div class="col-sm-3 input-group">
                        <input type="text" class="form-control" id="config_offline_disable_count">
                        <span class="input-group-addon">times</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Test enabled radio only</label>
                    <div class="col-sm-3 btn-group" role="group" aria-label="...">
                        <input type="hidden" id="config_test_enable_only">
                        <button type="button" class="btn btn-default btn-toggle" id="config_test_enable_only_on">Yes</button>
                        <button type="button" class="btn btn-default btn-toggle" id="config_test_enable_only_off">No</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Pause tester if Internet not available</label>
                    <div class="col-sm-3 btn-group" role="group" aria-label="...">
                        <input type="hidden" id="config_pause_if_no_internet">
                        <button type="button" class="btn btn-default btn-toggle" id="config_pause_if_no_internet_on">Yes</button>
                        <button type="button" class="btn btn-default btn-toggle" id="config_pause_if_no_internet_off">No</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">PING host for Internet detection</label>
                    <div class="col-sm-3 btn-group" role="group" aria-label="...">
                        <input type="text" class="form-control" id="config_ping_host">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Test Interval</label>
                    <div class="col-sm-2 input-group">
                        <input type="text" class="form-control" id="config_interval" />
                        <span class="input-group-addon">days</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Next test starts at</label>
                    <div class="col-sm-3 input-group">
                        <input type="text" class="form-control col-sm-4" id="config_next_test" disabled/>
                    </div>
                </div>
                <input type="hidden" id="config_status" />
                <input type="hidden" id="config_command" />
                <button class="btn btn-default" id="save-config">Save Configuration</button>
            </form>
        </div>
    </div>
</div>